%html
  %head
    %title Performance Dashboard
    %script{:type => 'text/javascript', :src => 'http://code.jquery.com/jquery-1.6.4.min.js' }
    %link{:rel => 'stylesheet', :href => asset_path('application.css')}
    %link{:rel => 'stylesheet', :href => '/assets/bootstrap.min.css' }

  %body 
    %div.topbar
      %div.fill
        %div.container
          %div.brand Performance Dashboard -
          %span.brand#app_name Core
    
    %div.container
      %div.row{:style => 'margin:30px'}
      %div.row
        %div{:class =>'span12 offset2'}
          %table#chart.condensed-table
            %tbody


    %script{:src => asset_path('application.js')} 
