%html
  %head
    %title Performance Dashboard
    %script{:type => 'text/javascript', :src => 'http://code.jquery.com/jquery-1.6.4.min.js' }
    %link{:rel => 'stylesheet', :href => 'http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css' }
    %link{:rel => 'stylesheet', :href => asset_path('application.css')}

  %body 
    %div.topbar
      %div.fill
        %div.container
          %div.brand Performance Dashboard -
          %span.brand#app_name Core
    
    %div.container
      %div.row{:style => 'margin:30px'}
      %div.row
        %div{:class =>'span12 offset2'}
          %table#chart
            %tbody


    %script{:src => asset_path('application.js')} 
