%html
  %head
    %title Performance Dashboard
    %script{:type => 'text/javascript', :src => 'http://code.jquery.com/jquery-1.6.4.min.js' }
    %link{:rel => 'stylesheet', :href => 'http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css' }
    %script{:src => asset_path('application.js')} 

  %body 
    %div.topbar
      %div.fill
        %div.container
          %div.brand Performance Dashboard - Project Name

