.row_data {
  font-size: 14px;
}
.chart-row {
  border-left:0px;
  border-right:0px;
}
div.arrow-down {
  width:0px; 
  height:0px; 
  border-left:8px solid transparent;
  border-right:8px solid transparent;
  border-top:8px solid #404040;
  font-size:0px;
  line-height:0px;
}
div.arrow-up {
  width:0px;
  height:0px;
  border-right:8px solid transparent;
  border-left:8px solid transparent;
  font-size:8px;
  line-height:0px;
}

path {
  stroke: steelblue;
  stroke-width: 3;
  fill:none;
}
line {
  stroke: black;
}
